/* todas las paginas */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    margin: auto;
    background: #ffffff;
    font-family: 'Oswald', sans-serif;
    }


    /*html de bienvenida */

.container-bienvenida {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #77aaff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px;
    margin: 5px;
    cursor:pointer;

}

.container-bienvenida p {
    font-size: 15px;
    text-align: center;
} 

.login {
    margin: 20px;
    width: 320px;
    height: 420px;
    align-items: center;
}

.login .entrar{
    text-align: center;
    
}
.login .entrar .button{
    font-size: 17px;
    margin: 20px;
    background-color:  #ff77aa;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px;
    margin: 20px;
    cursor:pointer;
}

 .login-footer{
    display: flex;
    justify-content: space-evenly;
}

.login-footer a{
    color:  #f1c232;
}

/*html de index tablero */
    /*navegacion */
a {
    text-decoration: none;
  }

ul {
    list-style: none;
}

textarea {
    text-decoration: none;
    list-style: none;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    background: #f1c232;
    border-radius: 5px;
    align-items: center ;
    height: 60px;
    padding: 20px;
    margin-bottom: 5px; 
}

.nav-brand {
    width: 80px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li:hover {
    border-bottom: 2px solid #ffffff;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 50px;
    z-index: 2;
    display: none;

}

/* formulario de agregar tarea */

.agregarTablero-form {
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: space-evenly;
    background:  #77aaff;
    border-radius: 3px;
    align-items: center ;
    height: 30px;
    padding: 10px 0;
    margin-bottom: 5px;
    }

.showcase {
    width: 100%;
    height: 100%;
    font-size: 15px;
    /*grid-template-columns: repeat(3,1fr); */
    grid-gap: 5px;
    padding: 5px;
    gap: 5px;
    margin: 5px 0; 
}


.board-text {
    font-weight: bold;
    font-size: 28px;
    padding: 5px;
}


.tabs { 
    max-width: auto; 
    
    width: 100%; 
    background: #fff; 
    box-shadow: 0px Opx 10px
    rgba(0,0,0,0.05);
}

.tabs_head {
    display: flex; 
    align-items: stretch;
}
.tabs_toggle {
    display: flex; 
    width: 33.3334%; 
    height: 50px; 
    align-items: center; 
    justify-content: center; 
    background: #f2f2f2; 
    cursor: pointer;
    
}

.tabs_toggle.is-active {
    background: #77aaff; 
    border-radius: 5px 0;
}



.tabs_content { 
    background-color:  #77aaff;
    grid-gap: 5px;
    height: 100%;
    padding: 10px; 
    display: none;
}
.tabs_content.is-active {
    display: block;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.tabs_title {
    font-size: 18px; 
    color: #000; 
    font-weight: bold; 
    margin-bottom: 20px;
}
.tabs_text {
    font-size: 14px; 
    color: #000;
}


.list-title {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}


 .board-list {
    background-color: #ff77aa ;
    border-radius: 3px;
    /* Chrome use a fixed height     */
    width: auto;
    height: max-content;
    padding: 10px;
    margin: 10px;
  }

.card {
    background-color:  #f1c232;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 5px;
    margin: 5px;
    cursor:pointer;
    width:auto ;
    height: max-content;
    }



 .agregarTarea-form {
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: space-evenly;
    background: #ff77aa;
    border-radius: 3px;
    align-items: center ;
    height: 30px;
    padding: 10px 0;
    margin-bottom: 5px;
    }


.modal {
    border: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background:#77aaff;
    border-radius: 5px;
    max-width: 50ch;
    align-items: center;
    justify-content: center;
}

.modal::backdrop {
background-color: rgba(0, 0, 0, .55);
}

/* Parte del tablero de las tres columnas*/

    /* CSS del Calendario */

    .container-calendar {
        width: 30%;
        height: 70vh;
        background-color: #f1c232 ;
        color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .calendar {
        width: auto;
        height: auto;
        background-color: #222227;
        box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
      }
      
      .month {
        width: 100%;
        height: 12rem;
        background-color: #167e56;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        text-align: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      }
      
      .month i {
        font-size: 2.5rem;
        cursor: pointer;
      }
      
      .month h1 {
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem;
      }
      
      .month p {
        font-size: 1.6rem;
      }
      
      .weekdays {
        width: 100%;
        height: 5rem;
        padding: 0 0.4rem;
        display: flex;
        align-items: center;
      }
      
      .weekdays div {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        width: calc(44.2rem / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      }
      
      .days {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.2rem;
      }
      
      .days div {
        font-size: 1.4rem;
        margin: 0.3rem;
        width: calc(40.2rem / 7);
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        transition: background-color 0.2s;
      }
      
      .days div:hover:not(.today) {
        background-color: #262626;
        border: 0.2rem solid #777;
        cursor: pointer;
      }
      
      .prev-date,
      .next-date {
        opacity: 0.5;
      }
      
      .today {
        background-color: #167e56;
      }



  /* parte de la web que está debajo del tablero de trabajo */
.social {
    margin: auto;
    background:lightgrey;
    border-radius: 5px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 10px 10px;
}

.links a i {
    font-size: 1rem;
}

.showcase-config, .showcase-help{
    background-color: #77aaff;
}


.agregarUser-form{
    font-size: auto;
    background-color:#77aaff;
    border-radius: 3px;
}
.listaUsers {
    background-color: #EEE9E9;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 3px;
    
}

.btn-editar{
    background-color: #ff77aa;
}

.cardUserName{
    border-radius: 5px;
    margin: auto;
    padding: 3px;
}




/* MEDIA QUERY - PUNTO DE CORTES.  */

@media (max-width: 600px){

    .board-lists {
       grid-template-columns: repeat(1,1fr);
    }

    .nuevatarea-titulo { /* desaparece AGREGAR TAREA del form agregar tarea */
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f1c232;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;

    }
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu-right {
        margin-right: 40px;
    }   
}


/*
.nav-main, .izquierda, .center,.derecha, .footer {
    flex-grow: 1; /*Le asignamos un 1 para que abarque el 100%
    flex-basis: 100%; /*Tamaño inicial que va a tener nuestro contenedor hijo, le damos el 100% para que en celular abarque el 100% 
    padding: 10px;
}
   
/*Cuando tenga 600 px o más...
@media all and (min-width: 600px){
    .aside{
        flex: 1 1 auto; /*los elementos izquierda y derecha se posicionan uno al lado del otro ocupando un ancho automático
    }
}
/*Cuando tenga 800 px o más...
@media all and (min-width: 800px){
    .center{
        flex: 2 0; /*articulo es 2 veces cada cuadrado izquierda o derecha
    }
    .izquierda{order:1;}
    .center{order:2;}
    .derecha{order:3;}
    .footer{order:4;}
}

*/


.preguntasFrecuentesCollapse {
    margin: 0; 
    padding: 0; 
    background-color: #fff; 
    font-size: 14px; 
    font-family: 'Montserrat', sans-serif; 
    background:  #ff77aa no-repeat center; 
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

#accordion{
    margin: 100px auto;
    width: 600px;
}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(116, 23, 108);
}

#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: rgb(34, 4, 31);
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

#accordion label + input[type="radio"]:checked + .content {
    max-height: 400px;
}



