/* todas las paginas */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    margin: auto;
    background: #ffffff;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    }


    /*html de bienvenida */

.container-bienvenida {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #77aaff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px;
    margin: 5px;
    cursor:pointer;

}

.container-bienvenida p {
    font-size: 15px;
    text-align: center;
} 

.login {
    margin: 20px;
    width: 320px;
    height: 420px;
    align-items: center;
}

.login .entrar{
    text-align: center;
    
}
.login .entrar .button{
    font-size: 17px;
    margin: 20px;
    background-color:  #ff77aa;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px;
    margin: 20px;
    cursor:pointer;
}

 .login-footer{
    display: flex;
    justify-content: space-evenly;
}

.login-footer a{
    color:  #f1c232;
}

/*html de index tablero */
    /*navegacion */
a {
    text-decoration: none;
  }

ul {
    list-style: none;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    background: #f1c232;
    border-radius: 5px;
    align-items: center ;
    height: 60px;
    padding: 20px;
    margin-bottom: 5px; 
}

.nav-brand {
    width: 80px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li:hover {
    border-bottom: 2px solid #ffffff;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 50px;
    z-index: 2;
    display: none;

}

/* formulario de agregar tarea */

.agregarTarea-form {
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: space-evenly;
    background: #ff77aa;
    border-radius: 3px;
    align-items: center ;
    height: 30px;
    padding: 10px 0;
    margin-bottom: 5px;
    }


.modal {
    border: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background:#77aaff;
    border-radius: 5px;
    max-width: 50ch;
    align-items: center;
    justify-content: center;
}

.modal::backdrop {
background-color: rgba(0, 0, 0, .55);
}

/* Parte del tablero de las tres columnas*/

.showcase {
    width: 100%;
    height: 100%;
    font-size: 15px;
    /*grid-template-columns: repeat(3,1fr);*/
    grid-gap: 10px;
    padding: 10px;
    gap: 5px;
    margin: 10px 0; 
}

.board-text {
    font-weight: bold;
    font-size: 28px;
    padding: 5px;
  }


.list-title {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.board-lists {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    height: 100%;
 
  }

.board-list {
    background-color: #77aaff;
    border-radius: 3px;
    

  /* Chrome use a fixed height */
    width: auto;
    height: max-content;
    padding: 10px;
  }

.card {
    background-color: #ff77aa;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 5px;
    margin: 5px;
    cursor:pointer;
    width:auto ;
    height: max-content;
    }

    

  /* parte de la web que está debajo del tablero de trabajo */
.social {
    margin: auto;
    background:lightgrey;
    border-radius: 5px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 10px 10px;
}

.links a i {
    font-size: 1rem;
}

.showcase-config {
    background-color: #77aaff;
}

@media (max-width: 600px){

    .board-lists {
       grid-template-columns: repeat(1,1fr);
    }

    .nuevatarea-titulo { /* desaparece AGREGAR TAREA del form agregar tarea */
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f1c232;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;

    }
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu-right {
        margin-right: 40px;
    }   
}


/*
.nav-main, .izquierda, .center,.derecha, .footer {
    flex-grow: 1; /*Le asignamos un 1 para que abarque el 100%
    flex-basis: 100%; /*Tamaño inicial que va a tener nuestro contenedor hijo, le damos el 100% para que en celular abarque el 100% 
    padding: 10px;
}
   
/*Cuando tenga 600 px o más...
@media all and (min-width: 600px){
    .aside{
        flex: 1 1 auto; /*los elementos izquierda y derecha se posicionan uno al lado del otro ocupando un ancho automático
    }
}
/*Cuando tenga 800 px o más...
@media all and (min-width: 800px){
    .center{
        flex: 2 0; /*articulo es 2 veces cada cuadrado izquierda o derecha
    }
    .izquierda{order:1;}
    .center{order:2;}
    .derecha{order:3;}
    .footer{order:4;}
}

*/




